body {
    margin: 0;
}

.drag-handle-node-view {    
    width: 100%;
    height: 100%;
}

.node-view {
    position: relative;
    border-radius: 10px;
    background-color: orange;
    // border: 0.5rem solid orange;

    width: 140px;
    height: 70px;
}

.node-view-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.node-view-handles {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}